*

!.gitignore
!ignore_mods.txt

!/mods/
!/mods/*
!/scripts/
!/scripts/*

!/config/
!/config/AdvancedSolarPanel*

!/config/AppliedEnergistics2/
!/config/AppliedEnergistics2/AppliedEnergistics2.cfg

!/config/buildcraft
!/config/buildcraft/*

!/config/cofh/
!/config/cofh/*
!/config/cofh/**/common.cfg

!/config/forestry/
!/config/forestry/common.cfg

!/config/GregTech/
!/config/GregTech/GregTech.cfg
!/config/GregTech/MachineStats.cfg

!/config/IC2NuclearControl.cfg
!/config/GraviSuite.cfg
!/config/IC2.ini
!/config/UniDict.cfg

ignored.*