/*.cfg
/*

!.gitignore
!AppliedEnergistics2/
AppliedEnergistics2/recipes/generated
AppliedEnergistics2/recipes/*.csv
AppliedEnergistics2/recipes/*.html
!AdvancedSolarPanel*
!buildcraft/
!cofh/
!forestry/
forestry/gamemodes
!GregTech/
!BiblioCraft.cfg
!chisel.cfg
!IC2NuclearControl.cfg
!GraviSuite.cfg
!IC2.cfg
!UniDict.cfg
